# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Django
*.sqlite3
*.log
/staticfiles/
/media/
db.sqlite3

# Environment
.env
venv/
env/

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS
.DS_Store
Thumbs.db
